.modal{
    position: fixed;
    top: 0;
    left: 0;
    background: #00000080;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 1s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: zoom;
    animation-duration: 0.6s;
    
}


.modal-con{
    width: 90%;
    height: 90%;
    background:var(--bg-background);
    position: relative;
    overflow: auto;
}




.modal.close{
    display: none;
}

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }


  .close-icon{
    color: var(--text-deep);
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;

  }




:root{
    --primary-color:linear-gradient(43deg, #5c4dfe 0%,rgb(246, 119, 140) );;
    --primary-color-hover:linear-gradient(43deg, #5c4dfe 0%,rgb(96, 43, 52) );
    --bg-background: #121212;
    --bg-secondary:#1a1a1a;
    --bg-interface:#404040;
    --bg-visual:#262626;
    --text-light:#ffffff;
    --text-deep:#efefef;
    --text-hover:#ffc0cb;
    --cool-color:#4e350294;

  }